@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {

    /*Primay Colors*/
    --Dark-Blue-Color: hsl(233, 26%, 24%);
    --Lime-Green-Color: hsl(136, 65%, 51%);
    --Bright-Cyan-Color: hsl(192, 70%, 51%);

    /*Neutral Colors*/
    --Grayish-Blue-Color: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    

}

#CreatedBy{

    position: fixed;
    display: flex;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    bottom: 20px;
    left: 1vh;
    right: 1vh;
    font-family: "Zen Dots", sans-serif;
    font-size: 12px;
    color: var(--Grayish-Blue-Color);
    transition: ease-in-out 750ms;


}

.Container-NavBar{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    z-index: 2;

}

.NavBar{

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.50);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.50);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.50);

}

.NavBar-Child{

    width: 33.33%;
    height: 80px;
    background-color: white;
 
}

.NavBar-Child:nth-child(1){
    display: flex;
    align-items: center;
    align-content: center;

}

.NavBar-Child:nth-child(2){

    display: flex;
    align-items: center;
    align-content: center;
 
}

.NavBar-Child:nth-child(3){


}

.NavBar-Child:nth-child(4){

    display: none;
    height: 50%;
    border: none;

}

.NavBar-Child:nth-child(4):hover{

    cursor: pointer;
    transform: translate(1px, -1px);

}

.NavBar-Logo{

    margin: 0px 0px 0px 0%;
    flex-grow: 1;
    height:200%;
    transform: scale(0.4);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

.NavBar-Logo:hover{

    cursor: pointer;
    transform: translate(1px, -1px) scale(0.41);

}

.NavBar-Links{

    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 35px 0px 0px 8%;
    height: 58%;

}

.NavBar-Links-Childs{


    text-align: center;
    border-bottom: 4px solid transparent;
    margin-left: 18%;
    font-weight: 700;
    transition: ease-in-out 200ms;
    color: rgba(0, 0, 0, 0.350);

}


.NavBar-Links-Childs:hover{

    cursor: pointer;
    border-bottom: 4px solid #19af3c;
    color: black;

}

.NavBar-Links-Childs:focus{

    border-bottom: 4px solid #19af3c;
    color: black;

}

.Button-Request-Invite1{

    border: none;
    margin: 16px 0px 0px 40%;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    background: linear-gradient(180deg, #19af3c 0%, #19af3cc4 49%, #1b50c9 50%, #1b4fc9b4 100%);
    background-size: 1px 100px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    transition-property: all;
    transition: ease-in-out 250ms;
    outline: none;/*quitar la marca de enfocado del elemento*/

}

.Button-Request-Invite1:hover{
    
    background-position: 0 -50px;
    transition: ease-in-out 250ms;
    cursor: pointer;
    opacity: 1;

}

@media (min-width: 0px) and (max-width: 1000.99px){


    #CreatedBy{

        position: fixed;
        opacity: 0;
        margin: 0px;
        padding: 0px;
        bottom: 37px;
        left: 2vh;
        right: 2vh;
        font-family: "Zen Dots", sans-serif;
        font-size: 12px;
        text-align: center;
        color: var(--Grayish-Blue-Color);
        transition: ease-in-out 750ms;
        border-bottom: 2px solid var(--Grayish-Blue-Color);
        padding-bottom: 3px;
    
    }

    .Container-NavBar{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0px;
        background-color: white;
        z-index: 2;
    
    }
    
    .NavBar{
    
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 0vh;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    
    }
    
    .NavBar-Child{
    
        width: 70%;
        height: 85px;
        background-color: white;
        
     
    }
    
    .NavBar-Child:nth-child(1){
    
        
    }
    
    .NavBar-Child:nth-child(2){
    
        display: flex;
    }
    
    .NavBar-Child:nth-child(3){
    
        display: none;
    
    }

    .NavBar-Logo{

        margin: 0px 0px 0px -100px;
        flex-grow: 1;
        height: 200%;
        transform: scale(0.4);
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    
    }

    #NavBar-Child-Menu{
    
        width: 10%;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 25px;
        top: 31px;
        align-items: flex-end;
        background-color: transparent;
        border: none;
        transition: ease-in-out 300ms;
        outline: none;/*quitar la marca de enfocado del elemento*/
    
    }

    #NavBar-Child-Menu:hover{
    
     
        cursor: pointer;
        transform: translate(1px, -1px);

    }

    
    .NavBar-Child-Svg:nth-child(1) {
        
        transform: scale(2);
     
    }

    .NavBar-Child-Svg:nth-child(2) {
        
        transform: scale(2);
     
    }

    
    .NavBar-Links{

        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: var(--Very-Light-Gray);
        left: 20px;
        top: 70px;
        right: 20px;
        bottom: 0px;
        border-radius: 4px;
        transition: height 600ms, opacity 400ms; /* Transition para la animación */
        opacity: 0;
        padding: 0px;
        text-align: center;
        
    }
    
    .NavBar-Links-Childs{
    
        border-bottom: 4px solid transparent;
        margin-left: 0%;
        font-weight: 700;
        transition: ease-in-out 200ms;
        flex-grow: 1;
        padding-top: 2vh;
        color: black;
    
    }
    
    .NavBar-Links-Childs:hover{
    
        cursor: pointer;
        border-bottom: 4px solid transparent;
        color: rgba(0, 0, 0, 0.350);
        transform: translate(1px, -1px);
    
    }

    .NavBar-Links-Childs:focus{
    
        border-bottom: 4px solid transparent;
        color: rgba(0, 0, 0, 0.350);
     
    }
    
    
    .Button-Request-Invite1{
    
        border: none;
        margin: 16px 0px 0px 40%;
        padding: 10px 25px 10px 25px;
        border-radius: 25px;
        background: linear-gradient(90deg, var(--Lime-Green-Color), var(--Bright-Cyan-Color));
        color: white;
        font-weight: 700;
        font-size: 14px;
        transition: ease-in-out 250ms;
    
    }
    
    .Button-Request-Invite1:hover{
        
        cursor: pointer;
        opacity: 0.6;
    
    }

}

@media (min-width: 1001px) and (max-width: 1100.99px){

    .NavBar-Child:nth-child(1){
        
        width: 25%;
    }


    .NavBar-Child:nth-child(2){
        
        width: 45%;

    }

    .NavBar-Child:nth-child(3){
        
        width: 35%;

    }

}

@media (min-width: 1101px) and (max-width: 1200.99px){

    .NavBar-Child:nth-child(1){
        
        width: 30%;
    }


    .NavBar-Child:nth-child(2){
        
        width: 40%;

    }

    .NavBar-Child:nth-child(3){
        
        width: 30%;

    }

}

@media (min-width: 1201px) and (max-width: 1300.99px){

    .NavBar-Child:nth-child(1){
        
        width: 30%;
    }


    .NavBar-Child:nth-child(2){
        
        width: 40%;

    }

    .NavBar-Child:nth-child(3){
        
        width: 30%;

    }

}